@tailwind base;
@tailwind components;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #14181c;
  color: #9ab;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.anime-page-details {
  flex-grow: 1;
}
.anime-page-poster-wrap {
  flex-shrink: 0;
}

@media only screen and (max-width: 860px) {
  .top-row-anime:nth-child(5) {
    display: none;
  }
  .bottom-row-anime:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .top-row-anime:nth-child(6) {
    display: none;
  }
}
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=EB+Garamond:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
