@tailwind base;
@tailwind components;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #14181c;
  color: #9ab;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.anime-page-details {
  flex-grow: 1;
}
.anime-page-poster-wrap {
  flex-shrink: 0;
}

.anime-searchbar-form {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.anime-searchbar-form.visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

@media only screen and (max-width: 860px) {
  .top-row-anime:nth-child(5) {
    display: none;
  }
  .bottom-row-anime:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .top-row-anime:nth-child(6) {
    display: none;
  }
}
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=EB+Garamond:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
